@import '../mixins.scss';
@import '../variables.scss';

.wrapper {
    @include border-box;
    display: flex;
    position: relative;
    height: 32px;
    border-radius: $border-radius;
    align-items: center;
}

.btn {
    @include text-normal;
    @include border-box;

    padding: 6px 12px;
    flex: 1;
    position: relative;
    border: none;
    // color: $text-grey;
    color: var(--grey-dark-2);
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap; 

    cursor: pointer;
    outline: none;

    background-color: transparent;
    z-index: 2;

    &:hover {
        // color: $green;
        color: var(--green);
    }
}

.selected {
    // color: $text-green;
    color: var(--green);

    &::before {
        display: inline-block;
        content: '';
        width: 100%;
        position: absolute;
        top: -1px;
        left: -1px;
        bottom: -1px;
        // background: $btn-background-light-green;
        background: var(--green-light);
        border-radius: $border-radius;
        z-index: -1;
    }
    &:last-of-type::before{
        left: auto;
        right: -2px;
    }
}

.disabled {
    color: #888;
    cursor: not-allowed;
}

.border {
    &.wrapper {
        // border: 1px solid $light-gray3;
        border: 1px solid var(--grey-light-3);
        & .selected::before {
            // border: 1px solid $green;
            border: 1px solid var(--green);
        }
    }
}

// :global(.night-mode) {
//     .wrapper,
//     .selected {
//         color: #a0a0a0;
//         background-color: #252932;
//     }

//     .disabled {
//         color: #595959;
//     }
// }
