@import "../variables.scss";

.icon {
  transition: transform 0.2s ease-in-out;

  &__active {
    fill: $athens;
  }

  &__notActive {
    fill: $porcelain;
  }
}

.toggle {
  position: relative;
  cursor: pointer;
  width: 36px;
  height: 20px;
  border-radius: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 6px;
  transition: background-color 0.2s ease-in-out;
  background-color: var(--casper);
  box-sizing: border-box;

  &::before {
    transition: transform 0.2s ease-in-out;
    display: inline-block;
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    background: $white;
    border-radius: 50%;
    transform: translateX(0);
    left: 3px;
    top: 3px;
  }

  & .icon__active {
    transform: scale(0);
  }

  & .icon__notActive {
    transform: scale(1);
  }

  &:hover {
    background-color: var(--waterloo);
  }

  &.active {
    background-color: var(--jungle-green);

    &:hover {
      background-color: var(--jungle-green-hover);
    }

    &::before {
      transform: translateX(calc(100% + 2px));
    }

    & .icon__notActive {
      transform: scale(0);
    }

    & .icon__active {
      transform: scale(1);
    }
  }

  &.disabled {
    background-color: var(--porcelain);
    cursor: not-allowed;

    & svg {
      fill: $white;
    }

    &:hover {
      background-color: var(--porcelain);
    }
  }
}
