@import "../variables.scss";

.toggle {
  position: relative;
  cursor: pointer;
  display: inline-block;

  & svg {
    display: block;
  }

  &::before {
    display: inline-block;
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    background: $white;
    border-radius: 10px;
    left: 3px;
    top: 3px;
  }

  & rect,
  &::before {
    transition: 200ms;
  }

  & rect {
    fill: var(--casper);

    &:hover {
      fill: var(--waterloo);
    }
  }

  &.active {
    & rect {
      fill: var(--jungle-green);

      &:hover {
        fill: var(--jungle-green-hover);
      }
    }

    &::before {
      left: calc(100% - 14px - 3px);
    }
  }
}
