.wrapper {
  display: flex;
  position: relative;
  height: 32px;
  border: 1px solid #e0e4ee;
  box-sizing: border-box;
  border-radius: 4px;
  align-items: center;
}

.btn {
  position: relative;
  border: none;
  color: #7a859e;
  flex: 1;
  height: 100%;

  cursor: pointer;
  outline: none;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  line-height: 20px;
  font-size: 14px;

  background-color: transparent;
  z-index: 2;
}

.selected {
    color: #14c393 ;

    &::before {
       transition: 200ms;
       display: inline-block;
       content: '';
       width: 100%;
       position: absolute;
       top: -1px;
       left: -1px;
       bottom: -1px;
       background: #dcf6ef;
       border: 1px solid #14c393;
       box-sizing: border-box;
       border-radius: 4px;
       z-index: -1;
    }
    &:last-of-type::before{
        left: auto;
        right: -1px;
    }
}
