@import '../variables.scss';
@import '../mixins.scss';

.wrapper {
  @include text-normal;

  border: 1px solid;
  box-sizing: border-box;
  border-radius: $border-radius;
  display: flex;
  align-items: center;
  padding: 8px 12px;

  svg {
    width: 17px;
    height: 17px;
    text-align: center;
    margin-right: 10px;
  }
}

.info {
  background-color: var(--grey-light);
  border-color: var(--grey-light-2);
  color: var(--grey-dark-2);

  svg {
    fill: var(--grey-dark-2);
  }
}

.warn {
  background-color: var(--orange-light);
  border-color: var(--orange);
  color: var(--orange);

  svg {
    fill: var(--orange);
  }
}

.error {
  background-color: var(--red-light);
  border-color: var(--red);
  color: var(--red);

  svg {
    fill: var(--red);
  }
}

.success {
  background-color: var(--green-light);
  border-color: var(--green);
  color: var(--green);

  svg {
    fill: var(--green);
  }
}
