@import '../variables.scss';
@import '../mixins.scss';

.wrapper {
  @include text-normal;

  height: 40px;
  border: 1px solid;
  box-sizing: border-box;
  border-radius: $border-radius;
  display: flex;
  align-items: center;
  padding: 12px;
}

.info {
  background-color: var(--grey-light);
  border-color: var(--grey-light-2);
  color: var(--grey-dark-2);
  fill: var(--grey-dark-2);
}

.warn {
  background-color: var(--orange-light);
  border-color: var(--orange);
  color: var(--orange);
  fill: var(--orange);
}

.error {
  background-color: var(--red-light);
  border-color: var(--red);
  color: var(--red);
  fill: var(--red);
}

.success {
  background-color: var(--green-light);
  border-color: var(--green);
  color: var(--green);
  fill: var(--green);
}

.iconWrapper {
  width: 17px;
  height: 17px;
  text-align: center;
  margin-right: 10px;
}
