@import '../variables.scss';
@import '../mixins.scss';

.wrapper {
  height: 40px;
  border: 1px solid;
  box-sizing: border-box;
  font-size: $font-size-regular;
  line-height: $line-height-regular;
  font-family: Rubik, sans-serif;
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding: 12px;
}

.info {
  background-color: $light-gray;
  border-color: $light-gray2;
  color: $dark-gray2;

  fill: $dark-gray2;
}

.warn {
  background-color: $orange-light;
  border-color: $orange;
  color: $orange;
  fill: $orange;
}

.error {
  background-color: $red-light;
  border-color: $red;
  color: $red;
  fill: $red;
}

.success {
  background-color: $green-light;
  border-color: $green;
  color: $green;
  fill: $green;
}

.iconWrapper {
  width: 17px;
  height: 17px;
  text-align: center;
  padding: 0 10px 0 0;
}
