@import '../variables.scss';

.btn {
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid var(--porcelain);
  background: var(--white);
  transition-property: border-color, background;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;

  &:hover {
    border-color: var(--jungle-green-hover);
  }
}

.checkmark {
  display: none;
}

.selected {
  & .btn {
    background: var(--jungle-green);
    border-color: var(--jungle-green);
  }

  & .checkmark {
    display: block;
    fill: var(--athens);
  }
}

.disabled .btn {
  cursor: not-allowed;
  background: var(--athens);
  border-color: var(--porcelain);
}

.disabled.selected .btn {
  background: var(--porcelain);
  border-color: var(--porcelain);
}

.selected .btn:hover {
  background: var(--jungle-green-hover);
  border-color: var(--jungle-green-hover);
}

.disabled .btn:hover {
  border-color: var(--porcelain);
}

.disabled.selected .btn:hover {
  background: var(--porcelain);
  border-color: var(--porcelain);
}

.checkbox {
  display: inline-flex;
}
