@import '../variables.scss';

.btn {
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid var(--porcelain);
  background: var(--white);
  transition-property: border-color, background;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;

  &:hover {
    border-color: var(--jungle-green);
  }
}

.checkmark {
  opacity: 0;

  & path {
    fill: none;
    stroke: $athens;
    stroke-dasharray: 100;
    stroke-dashoffset: 100;
  }
}

.selected {
  & .btn {
    background: var(--jungle-green);
    border-color: var(--jungle-green);
  }

  & .checkmark {
    opacity: 1;

    & path {
      stroke-dashoffset: 0;
      transition: stroke-dashoffset 0.7s ease-in-out;
    }
  }
}

.disabled .btn {
  cursor: not-allowed;
  background: var(--athens);
  border-color: var(--porcelain);
}

.disabled.selected .btn {
  background: var(--porcelain);
  border-color: var(--porcelain);
}

.selected .btn:hover {
  background: var(--jungle-green-hover);
  border-color: var(--jungle-green-hover);
}

.disabled .btn:hover {
  border-color: var(--porcelain);
}

.disabled.selected .btn:hover {
  background: var(--porcelain);
  border-color: var(--porcelain);
}

.checkbox {
  display: inline-flex;
}
