@import '../variables.scss';

.dimmed {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.dialog {
  position: fixed;
  z-index: 1001;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  max-width: 100%;
  max-height: 100%;
  will-change: top, left, margin, transform, opacity;
  animation: moveDown 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.isScrolling {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.header {
  padding: 12px 20px 12px 24px;
  border-bottom: 1px solid var(--grey-light-3);
  display: flex;
  align-items: center;
}

.title {
  width: 100%;
}

.closeIcon {
  cursor: pointer;
}

.content {
  padding: 20px 24px 24px;
}

.actions {
  margin-top: 24px;
  display: flex;
  justify-content: flex-end;
}

.btnCancel {
  margin-right: 9px;
  color: var(--black) !important;
  border-color: #d9dce9 !important;
}

@keyframes fadeIn {
  0% {
    background: rgba(0, 0, 0, 0);
  }

  100% {
    background: rgba(0, 0, 0, 0.7);
  }
}

@keyframes moveDown {
  0% {
    transform: translateY(-1000px) translateX(-50%);
    opacity: 0;
  }

  100% {
    transform: translate3d(-50%, -50%, 0);
    opacity: 1;
  }
}
