@import '../variables.scss';

.wrapper {
  position: fixed;
  z-index: 1000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.dimmed {
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
}

.dialogModal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.close {
  position: absolute;
  cursor: pointer;
  color: var(--waterloo);
  left: -16px;
  top: -16px;
}

.dialog {
  max-width: 85%;
  max-height: 85%;
  display: flex;
  flex-direction: column;

  &__actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px;
  }

  &__close {
    cursor: pointer;
    fill: var(--waterloo);
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__container {
    max-width: 85%;
    margin: 5% auto;
  }

  &__content {
    overflow-y: auto;
    overflow-x: hidden;
  }
}
