@import '../variables.scss';

.btn {
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  border: 1px solid var(--porcelain);
  background: var(--white);

  &:hover {
    border-color: var(--jungle-green);
  }
}

/* stylelint-disable */
.selected {
  & .btn {
    border: 4px solid var(--jungle-green);

    &:hover {
      border-color: var(--jungle-green-hover);
    }
  }
}

.disabled {
  & .btn {
    cursor: not-allowed;
    background: var(--athens);

    &:hover {
      border-color: var(--porcelain);
    }
  }
}

.disabled.selected {
  & .btn {
    border-color: var(--porcelain);

    &:hover {
      border-color: var(--porcelain);
    }
  }
}
