@import '../mixins';

.icon {
  margin-left: 10px;
  fill: var(--waterloo);
}

.wrapper {
  @include text('body-3');

  cursor: pointer;
  border: 1px solid var(--porcelain);
  outline: none;
  background: var(--white);
  border-radius: 4px;
  position: relative;
  padding: 6px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:hover {
    border-color: var(--jungle-green);
  }

  &:focus {
    border-color: var(--jungle-green);

    .icon {
      transform: rotate(180deg);
    }
  }
}

.options {
  top: 100%;
  margin-top: 4px;
  border-radius: 4px;
  position: absolute;
  padding: 8px;
  border: 1px solid var(--porcelain);
  left: 0;
  right: 0;

  &_custom {
    padding-right: 4px;
  }
}
