@import '../mixins.scss';

.panel {
  @include nightshadow;

  box-sizing: border-box;
  background-color: var(--white);
  color: var(--rhino);
  border-radius: 4px;
  border: 1px solid var(--porcelain);

  &.padding {
    padding: 15px;
  }
}

.header {
  border-bottom: 1px solid var(--porcelain);

  &.padding {
    padding: 14px 20px;
  }
}

.content {
  &.padding {
    padding: 12px 20px 0;
    margin-bottom: 12px;
  }
}
