@import '../variables.scss';
@import '../mixins.scss';

.tabs {
  display: inline-block;
  border-bottom: 1px solid var(--porcelain);
}

.tab {
  position: relative;
  box-sizing: border-box;
  cursor: pointer;
  background: transparent;
  color: var(--waterloo);
  padding-bottom: 16px;
  margin: 0 16px;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    color: var(--jungle-green);
  }

  @include responsive('phone-xs', 'phone') {
    padding: 0 16px 8px;
    margin: 0;

    @include text('body-2'); }
}

.selected {
  color: var(--jungle-green);

  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -1px;
    height: 2px;
    left: 0;
    right: 0;
    border-radius: 1px;
    background: var(--jungle-green);
  }
}

.disabled {
  cursor: not-allowed;
  color: var(--mystic);

  &::after {
    background: var(--mystic);
  }

  &:hover {
    color: var(--mystic);
  }
}
