@import '../../mixins';

$border-color-night: #4a4a4a;

.wrapper {
  position: relative;
}

.suggestions {
  position: absolute;
  top: 100%;
  width: 100%;
  margin-top: 4px;
  z-index: 5;
  overflow: auto;
  max-height: 180px;
}

.groupSuggestions {
  max-height: 420px;
}

.divider {
  border-bottom: 1px solid var(--porcelain);
  margin-bottom: 14px;
}

.viewAllResults {
  cursor: pointer;
  margin: 0 -8px 14px -8px;
  padding: 14px 0 14px 24px;
  color: var(--mirage);

  @include text('body-3');

  &:hover {
    color: var(--jungle-green);
  }
}
