@import '../../mixins.scss';

$border-color-night: #4a4a4a;

.wrapper {
  position: relative;
}

.suggestions {
  position: absolute;
  top: 100%;
  width: 100%;
  margin-top: 4px;
  padding: 8px;
}

.suggestion {
  padding: 6px 8px;
  color: var(--grey-dark-2);

  &:hover,
  &:focus {
      color: var(--green);
  }
}

.noresults {
  cursor: initial;
  &:hover,
  &:focus {
    background-color: inherit !important;
  }
}
