@import '../../mixins';

$border-color-night: #4a4a4a;

.wrapper {
  position: relative;
  z-index: 1;
}

.suggestions {
  position: absolute;
  top: 100%;
  width: 100%;
  margin-top: 4px;
  padding: 8px;
  z-index: 10;
  max-height: 250px;
  overflow: auto;
}

.suggestion {
  padding: 6px 8px;
  color: var(--mirage);
  height: auto;
  min-height: 32px;
  text-align: left;

  &:hover,
  &:focus {
    color: var(--jungle-green);
  }
}

.cursored {
  background: var(--porcelain);
}

.noresults {
  @include text-normal;

  cursor: initial;
  min-height: auto;
  text-align: center;

  &:hover,
  &:focus {
    background-color: inherit !important;
  }
}

.title {
  @include text('caption', 'm');

  color: var(--waterloo);
  padding: 12px 16px 0;
  margin: 8px -8px;
  border-top: 1px solid var(--porcelain);

  &:first-child {
    border: none;
    padding-top: 0;
  }
}
