.loader {
  display: flex;
}

.dot {
  --size: var(--loading-dot-size, 5px);

  display: block;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  margin-right: calc(var(--size) * 2);
  animation: slide ease 0.7s infinite;
  background: var(--dot-bg, var(--mirage));

  &:first-child {
    margin-right: calc(0 - var(--size));
    animation-name: reveal;
  }

  &:last-child {
    margin: 0;
    animation-name: reveal;
    animation-direction: reverse;
  }
}

@keyframes reveal {
  from {
    transform: scale(0.001);
  }

  to {
    transform: scale(1);
  }
}

@keyframes slide {
  to {
    transform: translateX(calc(var(--size) * 3));
  }
}
