@import '../mixins.scss';
@import '../variables.scss';

.wrapper {
  @include text-normal;

  border-radius: $border-radius;
  padding: 14px 18px 16px 15px;
  min-width: 320px;
  color: var(--grey-dark-2);
  background-color: var(--white);
}

.info {
  fill: var(--blue);
}

.warning {
  fill: var(--orange);
}

.error {
  fill: var(--red);
}

.success {
  fill: var(--green);
}

.header {
  display: flex;
  position: relative;
}

.closeIcon {
  position: absolute;
  cursor: pointer;
  width: 13px;
  fill: var(--grey-dark);
  right: 0;
  top: 3px;
}

.title {
  padding: 0 30px 0 11px;
  width: 100%;
  color: var(--rhino);

  @include text('body-3', 'medium');
}

.action {
  color: var(--green);
  cursor: pointer;
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }
}

.solid {
  color: var(--white);
  fill: var(--white);

  .title,
  .action {
    color: var(--white);
  }

  .closeIcon {
    fill: var(--white);
  }

  &.info {
    background-color: var(--blue);
  }

  &.error {
    background-color: var(--red);
  }

  &.warning {
    background-color: var(--orange);
  }

  &.success {
    background-color: var(--green);
  }
}

.content {
  display: flex;
  padding: 10px 25px 0 31px;
}
