@import '../mixins.scss';
@import '../variables.scss';

.wrapper {
  @include text-normal;

  border-radius: $border-radius;
  color: var(--waterloo);
  background-color: var(--white);
}

.icon {
  min-width: 16px;
}

.large {
  padding: 16px 18px 18px 16px;
  min-width: 320px;
  box-shadow: var(--modal-box-shadow);

  & .icon {
    margin-top: 4px;
  }
}

.small {
  padding: 6px 8px;
  box-shadow: var(--box-shadow);
}

.info {
  fill: var(--waterloo);
}

.warning {
  fill: var(--texas-rose);
}

.error {
  fill: var(--persimmon);
}

.success {
  fill: var(--jungle-green);
}

.header {
  display: flex;
  position: relative;
}

.closeIcon {
  position: absolute;
  cursor: pointer;
  width: 10px;
  height: 10px;
  fill: var(--rhino);
  right: 0;
  top: 7px;
}

.title {
  padding: 2px 30px 0 16px;
  width: 100%;
  color: var(--rhino);

  @include text('body-3', 'm');
}

.action {
  color: var(--jungle-green);
  cursor: pointer;
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    color: var(--jungle-green-hover);
  }
}

.action + .action {
  color: var(--fiord);

  &:hover {
    color: var(--rhino);
  }
}

.content {
  display: flex;
  padding: 8px 28px 0 33px;
}

.actions {
  display: flex;
  padding: 10px 0 0 33px;
}

.small .title {
  padding: 1px 8px 0 8px;

  @include text('caption', 'm');
}
