@import '../mixins.scss';
@import '../variables.scss';

.wrapper {
    @include text-normal;

    border-radius: $border-radius;
    padding: 14px 18px 16px 15px;
    width: 320px;

    color: var(--grey-dark-2);
    background-color: var(--white);

    .closeIcon {
        fill: var(--grey-dark);
    }
}

.info {
    fill: var(--blue);
}

.warning {
    fill: var(--orange);
}

.error {
    fill: var(--red);
}

.success {
    fill: var(--green);
}

.header {
    display: flex;
    align-items: center;
}

.closeIcon {
    cursor: pointer;
    width: 13px;
    height: auto;
}

.title {
    font-weight: bold;
    padding: 0 15px;
    width: 100%;
}

.solid {
    color: var(--white);
    fill: var(--white);

    .action {
        color: var(--white);
    }

    &.info {
        background-color: var(--blue);
    }

    &.error {
        background-color: var(--red);
    }

    &.warning {
        background-color: var(--orange);
    }

    &.success {
        background-color: var(--green);
    }

    svg {
        fill: var(--white) !important;
    }
}

// display flex is important for the action buttons to be aligned in a row
// however, it won't effect the description as it would only one element
.content {
    display: flex;
    padding: 10px 25px 0 31px;
}

.action {
    color: var(--green);
    cursor: pointer;
    margin-right: 20px;

    &:last-child {
        margin-right: 0;
    }
}
