@import '../variables.scss';

.wrapper {
  position: relative;
}

.icon {
  position: absolute;
  padding: 0 10px;
  height: 100%;
  fill: $dark-gray;

  :global(.night-mode) & {
    fill: $input-placeholder-color-night;
  }

  &.left {
    left: 0;
  }
  &.right {
    right: 0;
  }
}

.input {
  line-height: 20px;
  font-size: 14px;
  color: #15181F;

  &.left {
    padding-left: 35px;
  }

  &.right {
    padding-right: 35px;
  }

}

.input:placeholder {
  color: #ADB6CD;
}

.input:hover,
.input:focus {
  border: 1px solid #14C393;
}
