@import '../mixins.scss';

.wrapper {
  @include responsive('desktop', 'laptop', 'tablet') {
    position: absolute;
    overflow: initial;
  }
}

.bg {
  @include responsive('desktop', 'laptop', 'tablet') {
    background: none;
  }
}

.menu {
  @include responsive('phone-xs', 'phone') {
    bottom: 2%;
    top: initial !important;
    max-width: 90%;
    width: 90%;
    left: 5% !important;
  }
}
