@import '../mixins.scss';

.wrapper {
  @include responsive('desktop', 'laptop', 'tablet') {
    position: absolute;
    overflow: initial;
  }
}

.bg {
  @include responsive('desktop', 'laptop', 'tablet') {
    background: none;
  }
}

.menu {
  @include responsive('phone-xs', 'phone') {
    bottom: 0;
    top: initial !important;
    max-width: 100%;
    width: 100%;
    left: 0 !important;
    border-radius: 15px 15px 0 0;
    overflow: hidden;
    background: var(--white);
    animation-name: appearing;
    animation-duration: 0.3s;
  }
}

@keyframes appearing {
  0% {
    transform: translateY(70vh);
  }

  100% {
    transform: translateY(0);
  }
}
