@import '../variables.scss';
@import '../mixins.scss';

.button {
  ---btn-accent-color: var(--btn-accent-color, var(--mirage));
  ---btn-accent-color-hover: var(--btn-accent-color-hover, var(--jungle-green));

  @include border-box;

  display: inline-flex;
  align-items: center;
  border: none;
  outline: none;
  height: 32px;
  padding: 6px 12px;
  font-family: Rubik, sans-serif;
  font-size: $font-size-regular;
  line-height: 1;
  border-radius: $border-radius;
  cursor: pointer;
  background: var(--white);
  color: var(---btn-accent-color);
  fill: var(---btn-accent-color);

  &:hover {
    color: var(---btn-accent-color-hover);
    fill: var(---btn-accent-color-hover);
  }
}

.fluid {
  display: flex;
  width: 100%;
}

.positive {
  --btn-accent-color: var(--jungle-green);
  --btn-accent-color-hover: var(--jungle-green-hover);
  --btn-accent-color-light: var(--jungle-green-light);
}

.negative {
  --btn-accent-color: var(--persimmon);
  --btn-accent-color-hover: var(--persimmon-hover);
  --btn-accent-color-light: var(--persimmon-light);
}

.purple {
  --btn-accent-color: var(--heliotrope);
  --btn-accent-color-hover: var(--heliotrope-hover);
  --btn-accent-color-light: var(--heliotrope-light);
}

.fill {
  background: var(--btn-accent-color);
  color: var(--white);
  fill: var(--white);

  &:hover {
    background: var(--btn-accent-color-hover);
    color: var(--white);
    fill: var(--white);
  }
}

.bordered {
  background: var(--white);
  border: 1px solid var(--btn-accent-color, var(--porcelain));
  color: var(--btn-accent-color, var(--mirage));
  fill: var(--btn-accent-color, var(--mirage));

  &:hover {
    color: var(--btn-accent-color, var(--jungle-green));
    fill: var(--btn-accent-color, var(--jungle-green));
    background: var(--btn-accent-color-light);
  }
}

.flat {
  &:hover {
    color: var(--jungle-green);
    fill: var(--jungle-green);
  }

  &.active {
    color: var(--jungle-green);
    fill: var(--jungle-green);
    background: var(--jungle-green-light);
  }
}

.ghost {
  &:hover {
    background: var(--grey-light);
  }

  &.active {
    color: var(--jungle-green);
    fill: var(--jungle-green);
  }
}

.disabled {
  color: var(--mystic) !important;
  background: var(--white) !important;
  border-color: var(--porcelain) !important;
  fill: var(--mystic) !important;
  pointer-events: none;

  &:hover {
    color: var(--mystic) !important;
  }

  &.ghost,
  &.fill,
  &.bordered {
    background: var(--athens) !important;
  }
}
