@import '../variables.scss';
@import '../mixins.scss';

.icon {
  margin-right: 8px;
  fill: var(--casper);
  width: 16px;
  height: 16px;
}

.button {
  ---btn-accent-color: var(--btn-accent-color, var(--rhino));
  ---btn-accent-color-hover: var(--btn-accent-color-hover, var(--jungle-green));

  @include border-box;

  display: inline-flex;
  align-items: center;
  border: none;
  outline: none;
  height: 32px;
  padding: 6px 16px;

  @include text('body-3');

  border-radius: $border-radius;
  cursor: pointer;
  background: var(--white);
  color: var(---btn-accent-color);
  fill: var(---btn-accent-color);
  -webkit-tap-highlight-color: transparent;

  &:hover {
    color: var(---btn-accent-color-hover);
    fill: var(---btn-accent-color-hover);
  }

  @include responsive('phone', 'phone-xs') {
    @include text('body-2');
  }
}

.withIcon {
  padding: 6px 12px;
}

.fluid {
  display: flex;
  width: 100%;
}

.fill {
  background: var(--btn-accent-color);
  color: $white;
  fill: $white;

  --dot-bg: white;

  @include responsive('phone', 'phone-xs') {
    height: 40px;
    padding: 8px 20px;
    width: 100%;
    justify-content: center;
  }

  &:hover {
    background: var(--btn-accent-color-hover);
    color: $white;
    fill: $white;
  }
}

.bordered {
  --btn-disabled-color-border: var(--porcelain);

  background: var(--white);
  border: 1px solid var(--btn-accent-color, var(--porcelain));
  color: var(--btn-accent-color, var(--rhino));
  fill: var(--btn-accent-color, var(--rhino));

  @include responsive('phone', 'phone-xs') {
    height: 40px;
    padding: 8px 20px;
    width: 100%;
    justify-content: center;
  }

  &:hover {
    color: var(--btn-accent-color-hover, var(--jungle-green-hover));
    fill: var(--btn-accent-color-hover, var(--jungle-green-hover));
    border-color: var(--btn-accent-color-hover, var(--porcelain));
  }
}

.flat {
  &:hover {
    color: var(--jungle-green);
    fill: var(--jungle-green);
  }

  &.active {
    color: var(--jungle-green);
    fill: var(--jungle-green);
    background: var(--jungle-green-light);
  }
}

.ghost {
  &:hover {
    background: var(--athens);
  }

  &.active {
    color: var(--jungle-green);
    fill: var(--jungle-green);
  }
}

.grey {
  --btn-accent-color: var(--waterloo);
  --btn-accent-color-hover: var(--waterloo);
  --btn-accent-color-light: var(--porcelain);
}

.positive {
  --btn-accent-color: var(--jungle-green);
  --btn-accent-color-hover: var(--jungle-green-hover);
  --btn-accent-color-light: var(--jungle-green-light);
}

.negative {
  --btn-accent-color: var(--persimmon);
  --btn-accent-color-hover: var(--persimmon-hover);
  --btn-accent-color-light: var(--persimmon-light);
}

.orange {
  --btn-accent-color: var(--texas-rose);
  --btn-accent-color-hover: var(--texas-rose-hover);
  --btn-accent-color-light: var(--texas-rose-light);
}

.blue {
  --btn-accent-color: var(--dodger-blue);
  --btn-accent-color-hover: var(--dodger-blue-hover);
  --btn-accent-color-light: var(--dodger-blue-light);
}

.cyan {
  --btn-accent-color: var(--malibu);
  --btn-accent-color-hover: var(--malibu-hover);
  --btn-accent-color-light: var(--malibu-light);
}

.purple {
  --btn-accent-color: var(--heliotrope);
  --btn-accent-color-hover: var(--heliotrope-hover);
  --btn-accent-color-light: var(--heliotrope-light);
}

.sheets {
  --btn-accent-color: var(--sheets);
  --btn-accent-color-hover: var(--sheets-hover);
  --btn-accent-color-light: var(--white);
}

.disabled {
  color: var(--mystic) !important;
  background: var(--white) !important;
  border-color: var(--btn-disabled-color-border, none);
  fill: var(--mystic) !important;
  pointer-events: none;

  &:hover {
    color: var(--mystic) !important;
  }

  &.ghost,
  &.fill,
  &.bordered {
    background: var(--athens) !important;
  }

  .icon {
    fill: var(--mystic);
  }
}

.loading {
  pointer-events: none;
  position: relative;
  justify-content: center;

  &::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: inherit;
    border-radius: inherit;
  }
}

.loader {
  position: absolute;
  font-size: var(--loading-dot-size, 4px);
}
