@import '../mixins.scss';

.tweet {
  margin-right: 32px;
  color: var(--mirage);
  cursor: pointer;
  width: 360px;
  min-width: 360px;
  height: 400px;
  min-height: 400px;
  box-shadow: 0 2px 24px rgba(24, 27, 43, 0.04),
    1px 3px 7px rgba(47, 53, 77, 0.05);
  border-radius: 16px;
  border: 1px solid var(--porcelain);
  background-color: var(--white);
  transition: transform 0.1s ease-in-out;

  @include responsive('phone', 'phone-xs') {
    width: 320px;
    min-width: 320px;
    margin-right: 24px;
  }

  @media (hover: hover) {
    &:hover {
      color: var(--mirage);
      transform: scale(1.01);
    }
  }
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 32px;

  @include responsive('phone', 'phone-xs') {
    padding: 24px;
  }
}

.header {
  display: flex;
  align-items: flex-start;
}

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 16px;

  @include responsive('phone', 'phone-xs') {
    width: 40px;
    height: 40px;
    margin-right: 12px;
  }
}

.bird {
  margin-left: auto;
}

.displayName {
  @include text('body-1', 'l');

  margin-bottom: 2px;
  color: var(--mirage);

  @include responsive('phone', 'phone-xs') {
    @include text('body-2', 'l');

    margin-bottom: 0;
  }
}

.handle {
  @include text('body-3', 'm');

  color: var(--waterloo);

  @include responsive('phone', 'phone-xs') {
    @include text('caption', 'm');
  }
}

.body {
  margin-top: 24px;

  @include responsive('phone', 'phone-xs') {
    margin-top: 16px;
  }

  & * {
    @include text('body-1');

    @include responsive('phone', 'phone-xs') {
      @include text('body-2');
    }
  }

  & a {
    color: #4da0eb;
    margin: 0 4px;
  }

  & a + a {
    margin-left: 0;
  }

  img {
    border-radius: 16px;
    width: 100%;
    height: auto;
    margin-top: 12px;
  }
}
