@import '../mixins.scss';

.container {
  padding: 96px 0 100px;
  margin: 0;
  width: 100%;

  @include responsive('phone', 'phone-xs') {
    padding: 56px 0 44px;
  }
}

.wrapper {
  margin: 0 !important;
  max-width: 100% !important;
}

.scroller {
  height: 420px;
  max-width: 100vw;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  padding-left: 32px;

  @include responsive('phone', 'phone-xs') {
    padding-left: 24px;
    margin: 0 -15px;
  }
}

.tweets {
  display: flex;
  align-items: center;
  animation-name: moving;
  animation-duration: var(--time, 30s);
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  will-change: transform;
  transform: translate3d(0, 0, 0);
  animation-play-state: running;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;

  @media (hover: hover) {
    &:hover {
      animation-play-state: paused;
    }
  }

  @include responsive('tablet') {
    animation-duration: calc(var(--time, 30s) * 1.5);
  }

  @include responsive('phone', 'phone-xs') {
    animation-duration: calc(var(--time, 30s) * 2);
  }
}

@keyframes moving {
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}
