@import '../mixins.scss';

.wrapper {
    display: inline-flex;
    @include text-normal;
    align-items: center;
}

.fluid {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
