@import './variables.scss';

.white {
  background-color: $white;
}

.light-gray {
  background-color: $light-gray;
}

.light-gray2 {
  background-color: $light-gray2;
}

.light-gray3 {
  background-color: $light-gray3;
}

.dark-gray {
  background-color: $dark-gray;
}

.dark-gray2 {
  background-color: $dark-gray2;
}

.black {
  background-color: $black;
}

.green {
  background-color: $green;
}

.green-hover {
  background-color: $green-hover;
}

.green-light {
  background-color: $green-light;
}

.orange {
  background-color: $orange;
}

.orange-hover {
  background-color: $orange-hover;
}

.blue {
  background-color: $blue;
}

.red {
  background-color: $red;
}

.violet {
  background-color: $violet;
}
