/* NOTE
    This file should be included at the top of the target project index.scss
*/

@font-face {
  font-family: 'Proxima Nova';
  src: url('../static/ProximaNova-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../static/ProximaNova-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../static/ProximaNova-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../static/ProximaNova-Semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@import './variables.scss';

// --CSS VARS--
:root {
  --white: #{$white};
  --black: #{$black};

  // shades of grey
  --athens: #{$athens}; // NEW
  --porcelain: #{$porcelain}; // NEW
  --mystic: #{$mystic}; // NEW
  --casper: #{$casper}; // NEW
  --waterloo: #{$waterloo}; // NEW
  --mirage: #{$mirage}; // NEW
  --shark: #{$shark}; // NEW
  --rhino: #{$rhino}; // NEW
  --grey-light: #{$light-gray};
  --grey-light-2: #{$light-gray2};
  --grey-light-3: #{$light-gray3};
  --grey-dark: #{$dark-gray};
  --grey-dark-2: #{$dark-gray2};

  // green
  --green: #{$green};
  --green-hover: #{$green-hover};
  --green-light: #{$green-light};
  --green-light-2: #{$green-light-2};
  --jungle-green: #{$jungle-green}; // NEW
  --jungle-green-hover: #{$jungle-green-hover}; // NEW
  --jungle-green-light: #{$jungle-green-light}; // NEW
  --jungle-green-light-2: #{$jungle-green-light-2}; // NEW
  --jungle-green-light-3: #{$jungle-green-light-3}; // NEW
  --jungle-green-accent: #{$jungle-green-accent}; // NEW

  // green
  --lima: #{$lima}; // NEW
  --lima-hover: #{$lima-hover}; // NEW
  --lima-light: #{$lima-light}; // NEW
  --sheets: #{$sheets}; // NEW
  --sheets-hover: #{$sheets-hover}; // NEW

  // orange
  --orange: #{$orange};
  --orange-hover: #{$orange-hover};
  --orange-light: #{$orange-light};
  --texas-rose: #{$texas-rose}; // NEW
  --texas-rose-hover: #{$texas-rose-hover}; // NEW
  --texas-rose-light: #{$texas-rose-light}; // NEW
  --texas-rose-light-2: #{$texas-rose-light-2}; // NEW

  // red
  --red: #{$red};
  --red-hover: #{$red-hover};
  --red-light: #{$red-light};
  --persimmon: #{$persimmon}; // NEW
  --persimmon-hover: #{$persimmon-hover}; // NEW
  --persimmon-light: #{$persimmon-light}; // NEW

  // blue
  --blue: #{$blue};
  --blue-hover: #{$blue-hover};
  --blue-light: #{$blue-light};
  --dodger-blue: #{$dodger-blue}; // NEW
  --dodger-blue-hover: #{$dodger-blue-hover}; // NEW
  --dodger-blue-light: #{$dodger-blue-light}; // NEW

  // violet
  --violet: #{$violet};
  --violet-hover: #{$violet-hover};
  --violet-light: #{$violet-light};
  --heliotrope: #{$heliotrope}; // NEW
  --heliotrope-hover: #{$heliotrope-hover}; // NEW
  --heliotrope-light: #{$heliotrope-light}; // NEW

  // cyan
  --cyan: #{$cyan};
  --malibu: #{$malibu}; // NEW
  --malibu-hover: #{$malibu-hover}; // NEW
  --malibu-light: #{$malibu-light}; // NEW

  // bright-sun
  --bright-sun: #{$bright-sun};// NEW
  --bright-sun-hover: #{$bright-sun-hover}; // NEW
}

:global(.night-mode) {
  --white: #{$mirage}; // NEW
  --black: #{$white};
  --mirage: #{$white}; // NEW
  --grey-light: #{$dark-1};
  --grey-light-2: #{$dark-2};
  --grey-light-3: #{$dark-3};
  --grey-dark: #{$dark-4};
  --grey-dark-2: #{$dark-5};
  --athens: #{$ebony-clay}; // NEW
  --porcelain: #{$cloud-burst}; // NEW
  --mystic: #{$rhino}; // NEW
  --casper: #{$fiord}; // NEW
  --waterloo: #{$bali-hai}; // NEW
  --rhino: #{$mystic}; // NEW
  // green
  --green-light: #{$green-dark};
  --jungle-green-light: #{$jungle-green-dark}; // NEW
  --jungle-green-light-2: #{$jungle-green-dark-2}; // NEW
  --jungle-green-light-3: #{$jungle-green-dark-3}; // NEW
  --jungle-green-accent: #{$jungle-green-a-dark}; // NEW
  // orange
  --orange-light: #{$orange-dark};
  --texas-rose-light: #{$texas-rose-dark}; // NEW
  // lima
  --lima-light: #{$lima-dark}; // NEW
  // red
  --red-light: #{$red-dark};
  --persimmon-light: #{$persimmon-dark}; // NEW
  // blue
  --blue-light: #{$blue-dark};
  --dodger-blue-light: #{$dodger-blue-dark}; // NEW
  // violet
  --violet-light: #{$violet-dark};
  --heliotrope-light: #{$heliotrope-dark}; // NEW
  // cyan
  --malibu-light: #{$malibu-dark}; // NEW
}

body {
  background-color: var(--white);
}

// --SCROLLBAR STYLES--
*::-webkit-scrollbar {
  background: transparent !important;
  width: 4px !important;
}

*::-webkit-scrollbar-track {
  border-radius: $border-radius !important;
  background: var(--porcelain) !important;
}

*::-webkit-scrollbar-thumb {
  width: 4px !important;
  border-radius: $border-radius !important;
  background: var(--casper) !important;
}

*::-webkit-scrollbar:horizontal {
  height: 4px !important;
}

*::-webkit-scrollbar-thumb:hover {
  cursor: pointer !important;
  background: var(--waterloo) !important;
}

// --SELECTION STYLES--
::selection {
  :global(.night-mode) & {
    background-color: #a5a8b1;
  }
}
