@import './variables';

@mixin border-box {
  box-sizing: border-box;
}

@mixin text-normal {
  font-family: 'Proxima Nova', sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 22px;
  font-size: 14px;
}

@mixin _responsive($device) {
  @if $device == 'desktop' {
    @media only screen and (min-width: $desktopMinWidth) {
      @content;
    }
  }

  @if $device == 'laptop' {
    @media only screen and (min-width: $laptopMinWidth) and (max-width: ($desktopMinWidth - 1px)) {
      @content;
    }
  }

  @if $device == 'tablet' {
    @media only screen and (min-width: $tabletMinWidth) and (max-width: ($laptopMinWidth - 1px)) {
      @content;
    }
  }

  @if $device == 'phone' {
    @media only screen and (min-width: $phoneMinWidth) and (max-width: ($tabletMinWidth - 1px)) {
      @content;
    }
  }

  @if $device == 'phone-xs' {
    @media only screen and (max-width: ($phoneMinWidth - 1px)) {
      @content;
    }
  }
}

@mixin responsive($devices...) {
  @each $device in $devices {
    @include _responsive($device) {
      @content;
    }
  }
}

@mixin grid-wrap($columns) {
  width: 100%;
  display: grid;
  grid-gap: 24px;

  @include responsive('tablet') {
    grid-template-columns: 1fr 1fr;
  }

  @include responsive('phone-xs', 'phone') {
    grid-template-columns: 1fr;
  }

  @if $columns == 2 {
    grid-template-columns: 1fr 1fr;
  }

  @if $columns == 3 {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @if $columns == 4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;

    @include responsive('tablet') {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @include responsive('phone') {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@mixin text($type, $mod: null) {
  font-family: 'Proxima Nova', sans-serif;
  font-weight: normal;

  @if $type == 'h1' {
    font-size: 48px;
    line-height: 56px;

    @if $mod == 'l' {
      font-weight: 600;
    }
  }

  @if $type == 'h2' {
    font-size: 40px;
    line-height: 48px;

    @if $mod == 'l' {
      font-weight: 600;
    }
  }

  @if $type == 'h3' {
    font-size: 32px;
    line-height: 40px;

    @if $mod == 'l' {
      font-weight: 600;
    }
  }

  @if $type == 'h4' {
    font-size: 24px;
    line-height: 32px;

    @if $mod == 'm' {
      font-weight: 500;
    }

    @if $mod == 'l' {
      font-weight: 600;
    }
  }

  @if $type == 'body-1' {
    font-size: 18px;

    @if $mod == 't' {
      line-height: 28px;
    }

    @else {
      line-height: 26px;

      @if $mod == 'm' {
        font-weight: 500;
      }

      @if $mod == 'l' {
        font-weight: 600;
      }
    }
  }

  @if $type == 'body-2' {
    font-size: 16px;
    line-height: 24px;

    @if $mod == 'm' {
      font-weight: 500;
    }

    @if $mod == 'l' {
      font-weight: 600;
    }
  }

  @if $type == 'body-3' {
    font-size: 14px;
    line-height: 20px;

    @if $mod == 'm' {
      font-weight: 500;
    }

    @if $mod == 'l' {
      font-weight: 600;
    }
  }

  @if $type == 'caption' {
    font-size: 12px;
    line-height: 16px;

    @if $mod == 'm' {
      font-weight: 500;
    }

    @if $mod == 'l' {
      font-weight: 600;
    }
  }

  @if $type == 'tiny' {
    font-size: 10px;
    line-height: 14px;
    font-weight: 500;

    @if $mod == 'm' {
      font-weight: 500;
    }

    @if $mod == 'l' {
      font-weight: 600;
    }
  }
}

@mixin explanation($text, $position: 'bottom', $align: 'center') {
  position: relative;

  &::before {
    font-size: 12px;
    line-height: 16px;
    position: absolute;
    background: $fiord;
    color: $white;
    border-radius: 4px;
    padding: 5px 12px;
    box-shadow: 0 2px 2px rgba(24, 27, 43, 0.04),
      0 2px 6px rgba(24, 27, 43, 0.08),
      0 4px 12px rgba(24, 27, 43, 0.08);

    @if $position == 'bottom' {
      top: 100%;
    }

    @if $position == 'top' {
      bottom: 100%;
    }

    @if $position == 'left' {
      right: 100%;
    }

    @if $position == 'right' {
      left: 100%;
    }

    @if $position == 'top' or $position == 'bottom' {
      @if $align == 'center' {
        transform: translateX(-50%);
        left: 50%;
      }

      @if $align == 'start' {
        left: 0;
      }

      @if $align == 'end' {
        right: 0;
      }
    }

    @else {
      @if $align == 'center' {
        transform: translateY(-50%);
        top: 50%;
      }

      @if $align == 'start' {
        top: 0;
      }

      @if $align == 'end' {
        bottom: 0;
      }
    }

    @content;
  }

  &:hover::before {
    content: $text;
  }
}

@mixin thin-scroll {
  scrollbar-width: thin;
}

@mixin overlay-scroll($on: 'hover', $dir: 'y') {
  @include thin-scroll;

  @if $dir == 'y' {
    overflow-y: auto;
    overflow-y: overlay;

    @if $on == 'hover' {
      @media (hover: hover) {
        overflow-y: hidden;

        &:hover {
          overflow-y: auto;
          overflow-y: overlay;
        }
      }
    }
  }

  @if $dir == 'x' {
    overflow-x: auto;
    overflow-x: overlay;

    @if $on == 'hover' {
      @media (hover: hover) {
        overflow-x: hidden;

        &:hover {
          overflow-x: auto;
          overflow-x: overlay;
        }
      }
    }
  }
}

@mixin nightshadow {
  :global(.night-mode) & {
    box-shadow: 0 5px 15px rgba(21, 24, 31, 0.4);
  }
}
