$max-width: 1024px;

$disabled: #d3d3d3;

// INPUT
$input-color-night: #a0a0a0;
$input-placeholder-color-day: #999;
$input-placeholder-color-night: #4b4b4b;

// COLORS - NOTE: DEPRECATED. SHOULD USE CSS VARS AS IN MAIN.SCSS

// Basic
// ---
$white: #fff;
$dark: #181b2b;
// ---

// ---
$black: #15181f;

/* $white */
// ---

// ---
$light-gray: #f7f8f9;
$light-gray2: #ebeef5;
$light-gray3: #e0e4ee;
$dark-gray: #adb6cd;
$dark-gray2: #7a859e;

$dark-1: #1e2133;
$dark-2: #212538;
$dark-3: #2a2f45;
$dark-4: #4c516c;
$dark-5: #8b93b6;
// ---

$green: #14c393;
$green-hover: #07b988;
$green-light: #dcf6ef;
$green-light-2: #b9eddf;
$green-dark: #17343b;

$orange: #ffad4d;
$orange-hover: #ffa030;
$orange-light: #fff3e4;
$orange-dark: #3b3130;

$red: #ff5b5b;
$red-hover: #ed4f4f;
$red-light: #ffe6e6;
$red-dark: #3b2532;

$blue: #5275ff;
$blue-hover: #4567ed;
$blue-light: #e5eaff;
$blue-dark: #21284b;

$violet: #8358ff;
$violet-hover: #774eed;
$violet-light: #f0eeff;
$violet-dark: #28244b;

$cyan: #68dbf4;

// new color naming
$athens: #f9fafc;
$porcelain: #e7eaf3;
$mystic: #d2d6e6;
$casper: #9faac4;
$waterloo: #7a859e;
$mirage: #181b2b;
$shark: #15181f;
$rhino: #2f354d;
$ebony-clay: #1c1f31;
$cloud-burst: #222639;
$fiord: #505573;
$bali-hai: #8b93b6;

$jungle-green: #14c393;
$jungle-green-hover: #1fac85;
$jungle-green-light: #edf8f5;
$jungle-green-light-2: #dcf6ef;
$jungle-green-light-3: #89e1c9;
$jungle-green-accent: #8affce;
$jungle-green-dark: #142532;
$jungle-green-dark-2: #17343b;
$jungle-green-dark-3: #174d4a;
$jungle-green-a-dark: #6edeaf;

$texas-rose: #ffad4d;
$texas-rose-hover: #fd9317;
$texas-rose-light: #fff3e4;
$texas-rose-light-2: #ffe7ca;
$texas-rose-dark: #3b3130;

$bright-sun: #ffcb47;
$bright-sun-hover: #f0bb35;

$lima: #26c953;
$lima-hover: #1bad44;
$lima-light: #e3fbe3;
$lima-dark: #1a3424;

$sheets: #1aa168;
$sheets-hover: #158a59;

$persimmon: #ff5b5b;
$persimmon-hover: #db4040;
$persimmon-light: #ffe6e6;
$persimmon-light-2: #efa7a7;
$persimmon-dark: #3b2532;
$persimmon-dark-2: #633b4c;

$dodger-blue: #5275ff;
$dodger-blue-hover: #375be9;
$dodger-blue-light: #e5eaff;
$dodger-blue-dark: #21284b;

$heliotrope: #8358ff;
$heliotrope-hover: #6339dd;
$heliotrope-light: #f0eeff;
$heliotrope-light-2: #c9c2ff;
$heliotrope-dark: #28244b;
$heliotrope-dark-2: #342b68;

$malibu: #68dbf4;
$malibu-hover: #18c0e4;
$malibu-light: #e5f9fd;
$malibu-accent: #72ffff;
$malibu-dark: #253a4b;

//With names
$text-grey: #7a859e;
$text-green: #14c393;
$btn-background-light-green: #dcf6ef;
$btn-background-light-grey: #f6f6f8;

// DECORATORS
$border-radius: 4px;
$box-shadow: 0 1px 2px rgba(21, 24, 31, 0.02), 0 2px 10px rgba(21, 24, 31, 0.04),
  0 4px 24px rgba(21, 24, 31, 0.06);

// TEXT
$font-size-regular: 14px;
$line-height-regular: 20px;

// RESPONSIVE BREAKPOINTS
// Most common screen sizes
// https://uiux.cc/blog/the-most-used-responsive-breakpoints-in-2017-of-mine/
$desktopMinWidth: 1200px;
$laptopMinWidth: 992px;
$tabletMinWidth: 768px;
$phoneMinWidth: 480px;

/* stylelint-disable */
:export {
  athens: $athens;
  porcelain: $porcelain;
  mystic: $mystic;
  casper: $casper;
  waterloo: $waterloo;
  mirage: $mirage;
  shark: $shark;
  rhino: $rhino;
  ebony-clay: $ebony-clay;
  cloud-burst: $cloud-burst;
  fiord: $fiord;
  bali-hai: $bali-hai;
  jungle-green: $jungle-green;
  jungle-green-hover: $jungle-green-hover;
  jungle-green-light: $jungle-green-light;
  jungle-green-light-2: $jungle-green-light-2;
  jungle-green-light-3: $jungle-green-light-3;
  jungle-green-accent: $jungle-green-accent;
  jungle-green-dark: $jungle-green-dark;
  jungle-green-dark-2: $jungle-green-dark-2;
  jungle-green-dark-3: $jungle-green-dark-3;
  jungle-green-a-dark: $jungle-green-a-dark;
  texas-rose: $texas-rose;
  texas-rose-hover: $texas-rose-hover;
  texas-rose-light: $texas-rose-light;
  texas-rose-light-2: $texas-rose-light-2;
  texas-rose-dark: $texas-rose-dark;
  bright-sun: $bright-sun;
  bright-sun-hover: $bright-sun-hover;
  persimmon: $persimmon;
  persimmon-hover: $persimmon-hover;
  persimmon-light: $persimmon-light;
  persimmon-light-2: $persimmon-light-2;
  persimmon-dark: $persimmon-dark;
  persimmon-dark-2: $persimmon-dark-2;
  lima: $lima;
  lima-hover: $lima-hover;
  lima-light: $lima-light;
  lima-dark: $lima-dark;
  sheets: $sheets;
  sheets-hover: $sheets-hover;
  dodger-blue: $dodger-blue;
  dodger-blue-hover: $dodger-blue-hover;
  dodger-blue-light: $dodger-blue-light;
  dodger-blue-dark: $dodger-blue-dark;
  heliotrope: $heliotrope;
  heliotrope-hover: $heliotrope-hover;
  heliotrope-light: $heliotrope-light;
  heliotrope-light-2: $heliotrope-light-2;
  heliotrope-dark: $heliotrope-dark;
  heliotrope-dark-2: $heliotrope-dark-2;
  malibu: $malibu;
  malibu-hover: $malibu-hover;
  malibu-light: $malibu-light;
  malibu-accent: $malibu-accent;
  malibu-dark: $malibu-dark;
}
