// COLORS - NOTE: DEPRECATED. SHOULD USE CSS VARS AS IN MAIN.SCSS
$white: #fff;
$dark: #181b2b;
$black: #15181f;

$light-gray: #f7f8f9;
$light-gray2: #ebeef5;
$light-gray3: #e0e4ee;
$dark-gray: #adb6cd;
$dark-gray2: #7a859e;

$dark-1: #1e2133;
$dark-2: #212538;
$dark-3: #2a2f45;
$dark-4: #4c516c;
$dark-5: #8b93b6;

$green: #14c393;
$green-hover: #07b988;
$green-light: #dcf6ef;
$green-light-2: #b9eddf;
$green-dark: #17343b;

$orange: #ffad4d;
$orange-hover: #ffa030;
$orange-light: #fff3e4;
$orange-dark: #3b3130;

$red: #ff5b5b;
$red-hover: #ed4f4f;
$red-light: #ffe6e6;
$red-dark: #3b2532;

$blue: #5275ff;
$blue-hover: #4567ed;
$blue-light: #e5eaff;
$blue-dark: #21284b;

$violet: #8358ff;
$violet-hover: #774eed;
$violet-light: #f0eeff;
$violet-dark: #28244b;

$cyan: #68dbf4;

// new color naming
$bleach: #fff;
$bleach-night: #181b2b;
$athens: #f7f8fb;
$athens-night: #1c1f31;
$porcelain: #e7eaf3;
$porcelain-night: #222639;
$mystic: #d2d6e7;
$mystic-night: #343a52;
$casper: #9faac4;
$casper-night: #4e5472;
$waterloo: #7a859e;
$waterloo-night: #7a809a;
$mirage: #181b2b;
$mirage-night: #f8f9ff;
$shark: #15181f;
$rhino: #2f354d;
$rhino-night: #dfe1ec;
$fiord: #505573;
$fiord-night: #a2a7bd;

// outdated
$bali-hai: #7a809a;
$ebony-clay: #1c1f31;
$cloud-burst: #222639;
//

$jungle-green: #14c393;
$jungle-green-hover: #1fac85;
$jungle-green-light: #edf8f5;
$jungle-green-light-2: #dcf6ef;
$jungle-green-light-3: #89e1c9;
$jungle-green-accent: #8affce;
$jungle-green-dark: #182833;
$jungle-green-dark-2: #173d40;
$jungle-green-dark-3: #165e55;

$texas-rose: #ffad4d;
$texas-rose-hover: #fd9317;
$texas-rose-light: #fff3e4;
$texas-rose-light-2: #ffe7ca;
$texas-rose-light-3: #ffd49c;
$texas-rose-dark: #3b3130;
$texas-rose-dark-2: #503f3d;
$texas-rose-dark-3: #2a262d;

$bright-sun: #ffcb47;
$bright-sun-hover: #f0bb35;

$lima: #26c953;
$lima-hover: #1bad44;
$lima-light: #e3fbe3;
$lima-dark: #1a3424;

$sheets: #1aa168;
$sheets-hover: #158a59;

$persimmon: #ff6363;
$persimmon-hover: #f85454;
$persimmon-light: #ffe6e6;
$persimmon-light-2: #ffadad;
$persimmon-dark: #462835;
$persimmon-dark-2: #74353e;

$dodger-blue: #5275ff;
$dodger-blue-hover: #375be9;
$dodger-blue-light: #ecf0fe;
$dodger-blue-light-2: #dae0fd;
$dodger-blue-light-3: #a9baff;
$dodger-blue-dark: #1d223e;
$dodger-blue-dark-2: #21284b;
$dodger-blue-dark-3: #354895;

$heliotrope: #8358ff;
$heliotrope-hover: #6339dd;
$heliotrope-light: #f0eeff;
$heliotrope-light-2: #c9c2ff;
$heliotrope-dark: #28244b;
$heliotrope-dark-2: #342b68;

$malibu: #68dbf4;
$malibu-hover: #18c0e4;
$malibu-light: #e5f9fd;
$malibu-accent: #72ffff;
$malibu-dark: #253a4b;

$browny: #b76a50;
$browny-night: #bb7760;

// DECORATORS
$border-radius: 4px;
$modal-box-shadow: 0 4px 24px rgba($mirage, 0.05), 0 2px 6px rgba($mirage, 0.02);
$modal-box-shadow-night: 0 4px 20px rgba($mirage, 0.4);
$box-shadow: 0 6px 32px rgba($mirage, 0.03);
$box-shadow-night: 0 4px 20px rgba($mirage, 0.4);

// RESPONSIVE BREAKPOINTS
// Most common screen sizes
// https://uiux.cc/blog/the-most-used-responsive-breakpoints-in-2017-of-mine/
$desktopMinWidth: 1200px;
$laptopMinWidth: 992px;
$tabletMinWidth: 768px;
$phoneMinWidth: 480px;

/* stylelint-disable */
:export {
  bleach: $bleach;
  athens: $athens;
  porcelain: $porcelain;
  mystic: $mystic;
  casper: $casper;
  waterloo: $waterloo;
  fiord: $fiord;
  rhino: $rhino;
  mirage: $mirage;
  shark: $shark;
  bleach-night: $bleach-night;
  athens-night: $athens-night;
  porcelain-night: $porcelain-night;
  mystic-night: $mystic-night;
  casper-night: $casper-night;
  waterloo-night: $waterloo-night;
  fiord-night: $fiord-night;
  rhino-night: $rhino-night;
  mirage-night: $mirage-night;
  jungle-green: $jungle-green;
  jungle-green-hover: $jungle-green-hover;
  jungle-green-light: $jungle-green-light;
  jungle-green-light-2: $jungle-green-light-2;
  jungle-green-light-3: $jungle-green-light-3;
  jungle-green-accent: $jungle-green-accent;
  jungle-green-dark: $jungle-green-dark;
  jungle-green-dark-2: $jungle-green-dark-2;
  jungle-green-dark-3: $jungle-green-dark-3;
  texas-rose: $texas-rose;
  texas-rose-hover: $texas-rose-hover;
  texas-rose-light: $texas-rose-light;
  texas-rose-light-2: $texas-rose-light-2;
  texas-rose-light-3: $texas-rose-light-3;
  texas-rose-dark: $texas-rose-dark;
  texas-rose-dark-2: $texas-rose-dark-2;
  texas-rose-dark-3: $texas-rose-dark-3;
  bright-sun: $bright-sun;
  bright-sun-hover: $bright-sun-hover;
  persimmon: $persimmon;
  persimmon-hover: $persimmon-hover;
  persimmon-light: $persimmon-light;
  persimmon-light-2: $persimmon-light-2;
  persimmon-dark: $persimmon-dark;
  persimmon-dark-2: $persimmon-dark-2;
  lima: $lima;
  lima-hover: $lima-hover;
  lima-light: $lima-light;
  lima-dark: $lima-dark;
  sheets: $sheets;
  sheets-hover: $sheets-hover;
  dodger-blue: $dodger-blue;
  dodger-blue-hover: $dodger-blue-hover;
  dodger-blue-light: $dodger-blue-light;
  dodger-blue-light-2: $dodger-blue-light-2;
  dodger-blue-light-3: $dodger-blue-light-3;
  dodger-blue-dark: $dodger-blue-dark;
  dodger-blue-dark-2: $dodger-blue-dark-2;
  dodger-blue-dark-3: $dodger-blue-dark-3;
  heliotrope: $heliotrope;
  heliotrope-hover: $heliotrope-hover;
  heliotrope-light: $heliotrope-light;
  heliotrope-light-2: $heliotrope-light-2;
  heliotrope-dark: $heliotrope-dark;
  heliotrope-dark-2: $heliotrope-dark-2;
  malibu: $malibu;
  malibu-hover: $malibu-hover;
  malibu-light: $malibu-light;
  malibu-accent: $malibu-accent;
  malibu-dark: $malibu-dark;
  browny: $browny;
  browny-night: $browny-night;
}
