@import '../variables.scss';
@import '../mixins.scss';

.label {
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  padding: 1px 8px;
  min-width: 24px;
  min-height: 24px;
  border-radius: $border-radius;

  @include text-normal;
}

@each $accent
  in (
    casper,
    waterloo,
    jungle-green,
    texas-rose,
    persimmon,
    dodger-blue,
    heliotrope,
    malibu
  ) {
  .#{$accent} {
    --accent: var(--#{$accent});
  }
}

.athens {
  --accent: var(--athens);
  --accent-color: var(--mirage);
}

.fill {
  background: var(--accent);
  color: var(--accent-color, var(--white));
}

.round {
  border-radius: 100vw;
}

.bordered {
  background: var(--white);
  border: 1.5px solid var(--accent);
}
