@import '../mixins.scss';
@import '../variables.scss';

.input {
  @include border-box;
  @include text('body-3');

  line-height: 20px;
  width: 100%;
  outline: none;
  background-color: var(--white);
  border: 1px solid var(--porcelain);
  padding: 6px 10px;
  border-radius: 4px;
  height: 32px;
  color: var(--mirage);

  &::placeholder {
    color: var(--casper);
  }

  &[disabled] {
    color: var(--mystic);
  }

  &:focus {
    border-color: var(--jungle-green);
  }

  &:hover {
    border-color: var(--jungle-green);
  }

  &.inplace {
    color: var(--casper);

    &:focus {
      color: var(--mirage);
    }
  }

  &.error {
    border-color: var(--persimmon);
  }
}
