@import '../variables.scss';

.icon {
  box-sizing: content-box;
  width: 14px;
  position: absolute;
  top: 0;
  padding: 0 10px;
  height: 100%;
  fill: var(--casper);

  &.left {
    left: 0;
  }

  &.right {
    right: 0;
  }
}

.disabled {
  & .icon {
    fill: var(--mystic);
  }

  &:hover .icon {
    fill: var(--mystic);
  }
}

.error {
  &:hover .icon {
    fill: var(--casper);
  }
}

.wrapper {
  position: relative;

  &:hover .icon {
    fill: var(--green);
  }
}

.input {
  &.left {
    padding-left: 30px;
  }

  &.right {
    padding-right: 30px;
  }
}
