@import '../variables.scss';

.icon {
  box-sizing: content-box;
  width: 14px;
  position: absolute;
  top: 0;
  padding: 0 10px;
  height: 100%;
  fill: var(--casper);

  &.left {
    left: 0;
  }

  &.right {
    right: 0;
  }
}

.wrapper {
  position: relative;

  &:hover .icon {
    fill: var(--jungle-green);
  }
}

.error:hover .icon {
  fill: var(--casper);
}

.input {
  &.left {
    padding-left: 30px;
  }

  &.right {
    padding-right: 30px;
  }

  &:focus + .icon {
    fill: var(--rhino);
  }

  &[disabled] + .icon {
    fill: var(--casper);
  }

  &[disabled]:hover + .icon {
    fill: var(--casper);
  }
}
