.input {
  padding-right: 40px;
}

.button {
  position: absolute;
  right: 4px;
  top: 4px;
  bottom: 4px;
  height: auto;
  background-color: var(--athens);
}

.content {
  display: flex;
  align-items: center;
}

.toggle {
  margin-right: 8px;
}

.heading {
  color: var(--rhino);
  margin: 10px 0 0;
}
