@import '../src/variables.scss';
@import '../src/mixins.scss';

.icon {
  fill: $jungle-green-light-2;
}

.toggle {
  padding: 0 5px;

  @include responsive('phone-xs', 'phone') {
    padding: 0 9px;
  }
}
