@import '../src/variables.scss';

.dark {
  background-color: $fiord;
  padding: 4px 8px;
  color: var(--white);
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(24, 27, 43, 0.02);
  font-size: 12px;
  max-width: 120px;
}

.arrow {
  fill: $fiord;
}
