@import '../src/mixins';

.line {
  border-top: 1px solid var(--porcelain);
  height: 112px;
  display: flex;
  align-items: center;
}

.h1 {
  @include text('h1');

  &.semibold {
    @include text('h1', 'l');
  }
}

.h2 {
  @include text('h2');

  &.semibold {
    @include text('h2', 'l');
  }
}

.h3 {
  @include text('h3');

  &.semibold {
    @include text('h3', 'l');
  }
}

.h4 {
  @include text('h4');

  &.semibold {
    @include text('h4', 'l');
  }

  &.medium {
    @include text('h4', 'm');
  }
}

.body-1 {
  @include text('body-1');

  &.semibold {
    @include text('body-1', 'l');
  }
}

.body-2 {
  @include text('body-2');

  &.semibold {
    @include text('body-2', 'l');
  }

  &.medium {
    @include text('body-2', 'm');
  }
}

.body-3 {
  @include text('body-3');

  &.medium {
    @include text('body-3', 'm');
  }

  &.semibold {
    @include text('body-3', 'l');
  }
}

.caption {
  @include text('caption');

  &.semibold {
    @include text('caption', 'l');
  }

  &.medium {
    @include text('caption', 'm');
  }
}

.tiny {
  @include text('tiny');

  &.semibold {
    @include text('tiny', 'l');
  }

  &.medium {
    @include text('tiny', 'm');
  }
}
